.ships{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-flow: wrap;
    gap: 2vh 4vw;
    padding: 1vh 1vw;
    border: 5px solid black;
}
label{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
:checked ~ div{
    border: 1px solid white;
}
input{
    appearance: none;
}

.shipPiece{
    height: 2vmax;
    width: 2vmax;
    border: 1px solid black;
    transition: all .2s ease;
}
